server:
  port: 8001
spring:
  application:
    name: feng-shortlink-project
  profiles:
    active: prod
  datasource:
    # ShardingSphere 对 Driver 自定义，实现分库分表等隐藏逻辑
    driver-class-name: org.apache.shardingsphere.driver.ShardingSphereDriver
    # ShardingSphere 配置文件路径
    url: jdbc:shardingsphere:classpath:shardingsphere-config-${database.env:prod}.yaml
  mvc:
    view:
      prefix: /templates/
      suffix: .html
